git+https://github.com/KinWaiCheuk/AudioLoader.git
omegaconf>=2.3.0
tqdm>=4.64.1
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchmetrics==0.11.0
torchvision==0.12.0+cu113
pytorch-lightning==1.5.8
musdb==0.4.0
dora-search==0.1.11
diffq>=0.2.1
hydra-colorlog>=1.1
hydra-core>=1.1
julius>=0.2.3
lameenc>=1.2
museval>=0.4.0
mypy>=0.991
openunmix>=1.2.1
pyyaml
wandb
